[submodule "bundle/nerdtree"]
  path = bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "bundle/nerdcommenter"]
  path = bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter
  ignore = dirty
[submodule "bundle/fugitive"]
  path = bundle/fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/vim-css-color"]
  path = bundle/vim-css-color
  url = https://github.com/skammer/vim-css-color.git
  ignore = dirty
[submodule "bundle/vdebug"]
  path = bundle/vdebug
  url = https://github.com/joonty/vdebug.git
  ignore = dirty
[submodule "bundle/vim-online-thesaurus"]
  path = bundle/vim-online-thesaurus
  url = https://github.com/beloglazov/vim-online-thesaurus.git
  ignore = dirty
[submodule "bundle/syntastic"]
  path = bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "proselint"]
  path = proselint
  url = https://github.com/amperser/proselint.git
  ignore = dirty
[submodule "bundle/neocomplete"]
  path = bundle/neocomplete
  url = https://github.com/Shougo/neocomplete.vim
  ignore = dirty
[submodule "bundle/taglist"]
  path = bundle/taglist
  url = https://github.com/vim-scripts/taglist.vim.git
  ignore = dirty
[submodule "bundle/vim-markdown-folding"]
  path = bundle/vim-markdown-folding
  url = https://github.com/mtift/vim-markdown-folding.git
  ignore = dirty
